/* userpayment.css */

.paymentdetails {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#payment {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: -48%; */
  position: absolute;
  /* margin-left: 35%; */
  border: 1px solid #7d0661;
  box-shadow: rgb(146 146 146 / 23%) 17px 20px 5px 8px;
  padding: 20px 20px;
  width: 500px;
  line-height: 1.7;
}

.btn {
  position: relative;
  text-align: center;
  font-weight: 800;
}

.address {
  padding: 10px;
  font-size: 15px;
}

.address .copy {
  margin-left: 90%;
  margin-top: -10%;
  font-size: 20px;
  color: #7d0661;
}

.modalBody {
  margin-bottom: 10px;
}

.submitBTN {
  padding: 10px;
  outline: none;
  background: #7d0661;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  display: block;
  margin: auto;
  border: none;
  outline: none;
  /* margin-left: 25%; */
}

@media screen and (max-width: 768px) {
  .paymentdetails {

    height: 550px;

  }

  #payment {
    top: 80%;
    /* margin-top: -165%; */
    /* margin-left: 5%; */
    width: 80%;
  }

  .submitBTN {
    /* margin-left: 15%; */
    width: 60%;
  }

  .address {
    font-size: 13px;
  }
}